In [1]:
#learn kung fu
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import mason_functions as mf

import os
import evaluate
import warnings
warnings.filterwarnings('ignore')

import sklearn.preprocessing
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.feature_selection import SelectKBest, f_regression, RFE

In [2]:
#define my sql query to access the relational database
sql = '''
SELECT * 
FROM predictions_2017
LEFT JOIN properties_2017 USING(parcelid)
WHERE propertylandusetypeid = 261 or propertylandusetypeid = 279
'''

#define my url
url = mf.get_db_url('zillow')

#read the information from a database into a dataframe
#I also will not continuously query the database; instead, I will write the data to a .csv (in case the kernel gotta go)
if os.path.isfile('zillow_actual.csv'):
    df = pd.read_csv('zillow_actual.csv', index_col = 0)
else:
    df = pd.read_sql(sql, url)
    df.to_csv('zillow_actual.csv')

In [3]:
#at a glance
pd.options.display.max_columns = 69
pd.options.display.max_rows = 69
print(df.info)

<bound method DataFrame.info of        parcelid     id  logerror transactiondate     id.1  \
0      14297519      0  0.025595      2017-01-01  1727539
1      17052889      1  0.055619      2017-01-01  1387261
2      14186244      2  0.005383      2017-01-01    11677
3      12177905      3 -0.103410      2017-01-01  2288172
4      12095076      6 -0.001011      2017-01-01   781532
...         ...    ...       ...             ...      ...
52437  11000655  77609  0.020615      2017-09-20   673515
52438  17239384  77610  0.013209      2017-09-21  2968375
52439  12773139  77611  0.037129      2017-09-21  1843709
52440  12826780  77612  0.007204      2017-09-25  1187175
52441  13083743  77613 -0.197755      2018-05-25  2455685

       airconditioningtypeid  architecturalstyletypeid  basementsqft  \
0                        NaN                       NaN           NaN
1                        NaN                       NaN           NaN
2                        NaN                       NaN           NaN
3                        NaN                       NaN           NaN
4                        1.0                       NaN           NaN
...                      ...                       ...           ...
52437                    NaN                       NaN           NaN
52438                    NaN                       NaN           NaN
52439                    1.0                       NaN           NaN
52440                    NaN                       NaN           NaN
52441                    NaN                       NaN           NaN

       bathroomcnt  bedroomcnt  buildingclasstypeid  buildingqualitytypeid  \
0              3.5         4.0                  NaN                    NaN
1              1.0         2.0                  NaN                    NaN
2              2.0         3.0                  NaN                    NaN
3              3.0         4.0                  NaN                    8.0
4              3.0         4.0                  NaN                    9.0
...            ...         ...                  ...                    ...
52437          2.0         2.0                  NaN                    6.0
52438          2.0         4.0                  NaN                    NaN
52439          1.0         3.0                  NaN                    4.0
52440          2.0         3.0                  NaN                    6.0
52441          2.0         3.0                  NaN                    4.0

       calculatedbathnbr  decktypeid  finishedfloor1squarefeet  \
0                    3.5         NaN                       NaN
1                    1.0         NaN                    1465.0
2                    2.0         NaN                       NaN
3                    3.0         NaN                       NaN
4                    3.0         NaN                       NaN
...                  ...         ...                       ...
52437                2.0         NaN                       NaN
52438                2.0         NaN                    1612.0
52439                1.0         NaN                       NaN
52440                2.0         NaN                       NaN
52441                2.0         NaN                       NaN

       calculatedfinishedsquarefeet  finishedsquarefeet12  \
0                            3100.0                3100.0
1                            1465.0                1465.0
2                            1243.0                1243.0
3                            2376.0                2376.0
4                            2962.0                2962.0
...                             ...                   ...
52437                        1286.0                1286.0
52438                        1612.0                1612.0
52439                        1032.0                1032.0
52440                        1762.0                1762.0
52441                        1050.0                1050.0

       finishedsquarefeet13  finishedsquarefeet15  finishedsquarefeet50  \
0                       NaN                   NaN                   NaN
1                       NaN                   NaN                1465.0
2                       NaN                   NaN                   NaN
3                       NaN                   NaN                   NaN
4                       NaN                   NaN                   NaN
...                     ...                   ...                   ...
52437                   NaN                   NaN                   NaN
52438                   NaN                   NaN                1612.0
52439                   NaN                   NaN                   NaN
52440                   NaN                   NaN                   NaN
52441                   NaN                   NaN                   NaN

       finishedsquarefeet6    fips  fireplacecnt  fullbathcnt  garagecarcnt  \
0                      NaN  6059.0           NaN          3.0           2.0
1                      NaN  6111.0           1.0          1.0           1.0
2                      NaN  6059.0           NaN          2.0           2.0
3                      NaN  6037.0           NaN          3.0           NaN
4                      NaN  6037.0           NaN          3.0           NaN
...                    ...     ...           ...          ...           ...
52437                  NaN  6037.0           NaN          2.0           NaN
52438                  NaN  6111.0           1.0          2.0           2.0
52439                  NaN  6037.0           NaN          1.0           NaN
52440                  NaN  6037.0           NaN          2.0           NaN
52441                  NaN  6037.0           NaN          2.0           NaN

       garagetotalsqft  hashottuborspa  heatingorsystemtypeid    latitude  \
0                633.0             NaN                    NaN  33634931.0
1                  0.0             NaN                    NaN  34449266.0
2                440.0             NaN                    NaN  33886168.0
3                  NaN             NaN                    2.0  34245180.0
4                  NaN             NaN                    2.0  34145202.0
...                ...             ...                    ...         ...
52437              NaN             NaN                    2.0  34245368.0
52438            560.0             NaN                    NaN  34300140.0
52439              NaN             NaN                    2.0  34040895.0
52440              NaN             NaN                    2.0  33937685.0
52441              NaN             NaN                    7.0  34010864.0

         longitude  lotsizesquarefeet  poolcnt  poolsizesum  pooltypeid10  \
0     -117869207.0             4506.0      NaN          NaN           NaN
1     -119281531.0            12647.0      NaN          NaN           NaN
2     -117823170.0             8432.0      1.0          NaN           NaN
3     -118240722.0            13038.0      1.0          NaN           NaN
4     -118179824.0            63000.0      1.0          NaN           NaN
...            ...                ...      ...          ...           ...
52437 -118282383.0            47405.0      NaN          NaN           NaN
52438 -118706327.0            12105.0      NaN          NaN           NaN
52439 -118038169.0             5074.0      NaN          NaN           NaN
52440 -117996709.0             6347.0      NaN          NaN           NaN
52441 -117900894.0             5927.0      NaN          NaN           NaN

       pooltypeid2  pooltypeid7 propertycountylandusecode  \
0              NaN          NaN                       122
1              NaN          NaN                      1110
2              NaN          1.0                       122
3              NaN          1.0                      0101
4              NaN          1.0                      0101
...            ...          ...                       ...
52437          NaN          NaN                      0100
52438          NaN          NaN                      1111
52439          NaN          NaN                      0100
52440          NaN          NaN                      0100
52441          NaN          NaN                      0100

       propertylandusetypeid propertyzoningdesc  rawcensustractandblock  \
0                      261.0                NaN            6.059063e+07
1                      261.0                NaN            6.111001e+07
2                      261.0                NaN            6.059022e+07
3                      261.0         LCR110000*            6.037300e+07
4                      261.0               PSR2            6.037461e+07
...                      ...                ...                     ...
52437                  261.0             LARE40            6.037101e+07
52438                  261.0                NaN            6.111008e+07
52439                  261.0              SER1*            6.037434e+07
52440                  261.0          WHR16000*            6.037503e+07
52441                  261.0          LCA16000*            6.037408e+07

       regionidcity  regionidcounty  regionidneighborhood  regionidzip  \
0           53571.0          1286.0                   NaN      96978.0
1           13091.0          2061.0                   NaN      97099.0
2           21412.0          1286.0                   NaN      97078.0
3          396551.0          3101.0                   NaN      96330.0
4           47019.0          3101.0              274684.0      96293.0
...             ...             ...                   ...          ...
52437       12447.0          3101.0               27328.0      96284.0
52438       27110.0          2061.0                   NaN      97116.0
52439       36502.0          3101.0                   NaN      96480.0
52440       14634.0          3101.0                   NaN      96171.0
52441      118217.0          3101.0                   NaN      96488.0

       roomcnt  storytypeid  threequarterbathnbr  typeconstructiontypeid  \
0          0.0          NaN                  1.0                     NaN
1          5.0          NaN                  NaN                     NaN
2          6.0          NaN                  NaN                     NaN
3          0.0          NaN                  NaN                     NaN
4          0.0          NaN                  NaN                     NaN
...        ...          ...                  ...                     ...
52437      0.0          NaN                  NaN                     NaN
52438      7.0          NaN                  NaN                     NaN
52439      0.0          NaN                  NaN                     NaN
52440      0.0          NaN                  NaN                     NaN
52441      0.0          NaN                  NaN                     NaN

       unitcnt  yardbuildingsqft17  yardbuildingsqft26  yearbuilt  \
0          NaN                 NaN                 NaN     1998.0
1          NaN                 NaN                 NaN     1967.0
2          NaN                 NaN                 NaN     1962.0
3          1.0                 NaN                 NaN     1970.0
4          1.0                 NaN                 NaN     1950.0
...        ...                 ...                 ...        ...
52437      1.0                 NaN                 NaN     1940.0
52438      NaN               656.0                 NaN     1964.0
52439      1.0                 NaN                 NaN     1954.0
52440      1.0                 NaN                 NaN     1955.0
52441      1.0                 NaN                 NaN     1960.0

       numberofstories  fireplaceflag  structuretaxvaluedollarcnt  \
0                  NaN            NaN                    485713.0
1                  1.0            NaN                     88000.0
2                  1.0            NaN                     85289.0
3                  NaN            NaN                    108918.0
4                  NaN            NaN                    276684.0
...                ...            ...                         ...
52437              NaN            NaN                     70917.0
52438              1.0            NaN                     50683.0
52439              NaN            NaN                     32797.0
52440              NaN            NaN                    140000.0
52441              NaN            NaN                     77118.0

       taxvaluedollarcnt  assessmentyear  landtaxvaluedollarcnt  taxamount  \
0              1023282.0          2016.0               537569.0   11013.72
1               464000.0          2016.0               376000.0    5672.48
2               564778.0          2016.0               479489.0    6488.30
3               145143.0          2016.0                36225.0    1777.51
4               773303.0          2016.0               496619.0    9516.26
...                  ...             ...                    ...        ...
52437           354621.0          2016.0               283704.0    4478.43
52438            67205.0          2016.0                16522.0    1107.48
52439            49546.0          2016.0                16749.0     876.43
52440           522000.0          2016.0               382000.0    6317.15
52441           259334.0          2016.0               182216.0    3345.78

      taxdelinquencyflag  taxdelinquencyyear  censustractandblock
0                    NaN                 NaN         6.059063e+13
1                    NaN                 NaN         6.111001e+13
2                    NaN                 NaN         6.059022e+13
3                    NaN                 NaN         6.037300e+13
4                    NaN                 NaN         6.037461e+13
...                  ...                 ...                  ...
52437                NaN                 NaN         6.037101e+13
52438                NaN                 NaN         6.111008e+13
52439                NaN                 NaN         6.037434e+13
52440                NaN                 NaN         6.037503e+13
52441                NaN                 NaN         6.037408e+13

[52442 rows x 62 columns]>

In [4]:
#double-take
df.head()

,parcelid,id,logerror,transactiondate,id.1,airconditioningtypeid,architecturalstyletypeid,basementsqft,bathroomcnt,bedroomcnt,buildingclasstypeid,buildingqualitytypeid,calculatedbathnbr,decktypeid,finishedfloor1squarefeet,calculatedfinishedsquarefeet,finishedsquarefeet12,finishedsquarefeet13,finishedsquarefeet15,finishedsquarefeet50,finishedsquarefeet6,fips,fireplacecnt,fullbathcnt,garagecarcnt,garagetotalsqft,hashottuborspa,heatingorsystemtypeid,latitude,longitude,lotsizesquarefeet,poolcnt,poolsizesum,pooltypeid10,pooltypeid2,pooltypeid7,propertycountylandusecode,propertylandusetypeid,propertyzoningdesc,rawcensustractandblock,regionidcity,regionidcounty,regionidneighborhood,regionidzip,roomcnt,storytypeid,threequarterbathnbr,typeconstructiontypeid,unitcnt,yardbuildingsqft17,yardbuildingsqft26,yearbuilt,numberofstories,fireplaceflag,structuretaxvaluedollarcnt,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,taxdelinquencyflag,taxdelinquencyyear,censustractandblock
0,14297519,0,0.025595,2017-01-01,1727539,NaN,NaN,NaN,3.5,4.0,NaN,NaN,3.5,NaN,NaN,3100.0,3100.0,NaN,NaN,NaN,NaN,6059.0,NaN,3.0,2.0,633.0,NaN,NaN,33634931.0,-117869207.0,4506.0,NaN,NaN,NaN,NaN,NaN,122,261.0,NaN,6.059063e+07,53571.0,1286.0,NaN,96978.0,0.0,NaN,1.0,NaN,NaN,NaN,NaN,1998.0,NaN,NaN,485713.0,1023282.0,2016.0,537569.0,11013.72,NaN,NaN,6.059063e+13
1,17052889,1,0.055619,2017-01-01,1387261,NaN,NaN,NaN,1.0,2.0,NaN,NaN,1.0,NaN,1465.0,1465.0,1465.0,NaN,NaN,1465.0,NaN,6111.0,1.0,1.0,1.0,0.0,NaN,NaN,34449266.0,-119281531.0,12647.0,NaN,NaN,NaN,NaN,NaN,1110,261.0,NaN,6.111001e+07,13091.0,2061.0,NaN,97099.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN,1967.0,1.0,NaN,88000.0,464000.0,2016.0,376000.0,5672.48,NaN,NaN,6.111001e+13
2,14186244,2,0.005383,2017-01-01,11677,NaN,NaN,NaN,2.0,3.0,NaN,NaN,2.0,NaN,NaN,1243.0,1243.0,NaN,NaN,NaN,NaN,6059.0,NaN,2.0,2.0,440.0,NaN,NaN,33886168.0,-117823170.0,8432.0,1.0,NaN,NaN,NaN,1.0,122,261.0,NaN,6.059022e+07,21412.0,1286.0,NaN,97078.0,6.0,NaN,NaN,NaN,NaN,NaN,NaN,1962.0,1.0,NaN,85289.0,564778.0,2016.0,479489.0,6488.30,NaN,NaN,6.059022e+13
3,12177905,3,-0.103410,2017-01-01,2288172,NaN,NaN,NaN,3.0,4.0,NaN,8.0,3.0,NaN,NaN,2376.0,2376.0,NaN,NaN,NaN,NaN,6037.0,NaN,3.0,NaN,NaN,NaN,2.0,34245180.0,-118240722.0,13038.0,1.0,NaN,NaN,NaN,1.0,0101,261.0,LCR110000*,6.037300e+07,396551.0,3101.0,NaN,96330.0,0.0,NaN,NaN,NaN,1.0,NaN,NaN,1970.0,NaN,NaN,108918.0,145143.0,2016.0,36225.0,1777.51,NaN,NaN,6.037300e+13
4,12095076,6,-0.001011,2017-01-01,781532,1.0,NaN,NaN,3.0,4.0,NaN,9.0,3.0,NaN,NaN,2962.0,2962.0,NaN,NaN,NaN,NaN,6037.0,NaN,3.0,NaN,NaN,NaN,2.0,34145202.0,-118179824.0,63000.0,1.0,NaN,NaN,NaN,1.0,0101,261.0,PSR2,6.037461e+07,47019.0,3101.0,274684.0,96293.0,0.0,NaN,NaN,NaN,1.0,NaN,NaN,1950.0,NaN,NaN,276684.0,773303.0,2016.0,496619.0,9516.26,NaN,NaN,6.037461e+13

In [5]:
#summary statistics
df.describe().T

,count,mean,std,min,25%,50%,75%,max
parcelid,52442.0,1.299912e+07,3.411412e+06,1.071186e+07,1.151030e+07,1.257766e+07,1.412951e+07,1.676878e+08
id,52442.0,3.886063e+04,2.234844e+04,0.000000e+00,1.954625e+04,3.892750e+04,5.809350e+04,7.761300e+04
logerror,52442.0,1.829437e-02,1.775018e-01,-4.655420e+00,-2.463935e-02,7.009984e-03,4.069098e-02,5.262999e+00
id.1,52442.0,1.497288e+06,8.594413e+05,3.490000e+02,7.579560e+05,1.500836e+06,2.241564e+06,2.982270e+06
airconditioningtypeid,13638.0,2.438041e+00,3.846176e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.300000e+01
architecturalstyletypeid,70.0,7.100000e+00,2.665670e+00,2.000000e+00,7.000000e+00,7.000000e+00,7.000000e+00,2.100000e+01
basementsqft,47.0,6.789787e+02,7.118252e+02,3.800000e+01,2.635000e+02,5.120000e+02,8.095000e+02,3.560000e+03
bathroomcnt,52442.0,2.299397e+00,1.022764e+00,0.000000e+00,2.000000e+00,2.000000e+00,3.000000e+00,1.800000e+01
bedroomcnt,52442.0,3.300675e+00,9.490858e-01,0.000000e+00,3.000000e+00,3.000000e+00,4.000000e+00,1.400000e+01
buildingclasstypeid,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
buildingqualitytypeid,33741.0,6.264100e+00,1.716181e+00,1.000000e+00,5.000000e+00,6.000000e+00,8.000000e+00,1.200000e+01
calculatedbathnbr,52305.0,2.304732e+00,1.017958e+00,1.000000e+00,2.000000e+00,2.000000e+00,3.000000e+00,1.800000e+01
decktypeid,389.0,6.600000e+01,0.000000e+00,6.600000e+01,6.600000e+01,6.600000e+01,6.600000e+01,6.600000e+01
finishedfloor1squarefeet,4381.0,1.545611e+03,6.748653e+02,1.840000e+02,1.151000e+03,1.410000e+03,1.759000e+03,6.912000e+03
calculatedfinishedsquarefeet,52360.0,1.922874e+03,1.004363e+03,1.280000e+02,1.268000e+03,1.659000e+03,2.306000e+03,2.192900e+04
finishedsquarefeet12,52195.0,1.925029e+03,1.004273e+03,1.280000e+02,1.270000e+03,1.660000e+03,2.308000e+03,2.192900e+04
finishedsquarefeet13,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
finishedsquarefeet15,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
finishedsquarefeet50,4381.0,1.566375e+03,7.445229e+02,1.840000e+02,1.152000e+03,1.414000e+03,1.770000e+03,1.246700e+04
finishedsquarefeet6,165.0,1.241079e+03,7.769591e+02,3.800000e+02,7.840000e+02,1.008000e+03,1.320000e+03,5.598000e+03
fips,52442.0,6.049132e+03,2.102893e+01,6.037000e+03,6.037000e+03,6.037000e+03,6.059000e+03,6.111000e+03
fireplacecnt,7243.0,1.209858e+00,5.128851e-01,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,5.000000e+00
fullbathcnt,52305.0,2.239576e+00,9.931980e-01,1.000000e+00,2.000000e+00,2.000000e+00,3.000000e+00,1.800000e+01
garagecarcnt,18015.0,1.948987e+00,5.499437e-01,0.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,1.400000e+01
garagetotalsqft,18015.0,4.958757e+02,1.570447e+02,0.000000e+00,4.260000e+02,4.620000e+02,5.670000e+02,4.251000e+03
hashottuborspa,1515.0,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
heatingorsystemtypeid,33936.0,3.966378e+00,2.562521e+00,1.000000e+00,2.000000e+00,2.000000e+00,7.000000e+00,2.400000e+01
latitude,52442.0,3.402254e+07,2.739761e+05,3.334062e+07,3.382691e+07,3.402377e+07,3.418715e+07,3.481877e+07
longitude,52442.0,-1.181942e+08,3.566615e+05,-1.194754e+08,-1.184007e+08,-1.181531e+08,-1.179292e+08,-1.175546e+08
lotsizesquarefeet,52073.0,1.133952e+04,8.674680e+04,2.360000e+02,5.583000e+03,6.840000e+03,8.798000e+03,6.971010e+06
poolcnt,11096.0,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
poolsizesum,867.0,5.183183e+02,1.564682e+02,2.400000e+01,4.245000e+02,5.000000e+02,6.000000e+02,1.500000e+03
pooltypeid10,444.0,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
pooltypeid2,1071.0,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
pooltypeid7,10009.0,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
propertylandusetypeid,52442.0,2.610000e+02,0.000000e+00,2.610000e+02,2.610000e+02,2.610000e+02,2.610000e+02,2.610000e+02
rawcensustractandblock,52442.0,6.049443e+07,2.086879e+05,6.037101e+07,6.037401e+07,6.037620e+07,6.059042e+07,6.111009e+07
regionidcity,51405.0,3.350309e+04,4.917614e+04,3.491000e+03,1.244700e+04,2.481200e+04,4.022700e+04,3.965560e+05
regionidcounty,52442.0,2.524599e+03,8.039863e+02,1.286000e+03,1.286000e+03,3.101000e+03,3.101000e+03,3.101000e+03
regionidneighborhood,19033.0,1.802671e+05,1.598249e+05,6.952000e+03,4.113100e+04,1.182080e+05,2.745140e+05,7.641670e+05
regionidzip,52416.0,9.663584e+04,4.605064e+03,9.598200e+04,9.620600e+04,9.641200e+04,9.699500e+04,3.996750e+05
roomcnt,52442.0,1.893673e+00,3.146418e+00,0.000000e+00,0.000000e+00,0.000000e+00,5.000000e+00,1.500000e+01
storytypeid,47.0,7.000000e+00,0.000000e+00,7.000000e+00,7.000000e+00,7.000000e+00,7.000000e+00,7.000000e+00
threequarterbathnbr,6724.0,1.013682e+00,1.426160e-01,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,7.000000e+00
typeconstructiontypeid,76.0,5.973684e+00,2.294157e-01,4.000000e+00,6.000000e+00,6.000000e+00,6.000000e+00,6.000000e+00
unitcnt,33848.0,1.000916e+00,3.121116e-02,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,3.000000e+00
yardbuildingsqft17,1937.0,3.376278e+02,2.500216e+02,1.100000e+01,2.000000e+02,2.800000e+02,4.000000e+02,3.191000e+03
yardbuildingsqft26,63.0,2.256190e+02,1.885051e+02,1.200000e+01,7.150000e+01,1.800000e+02,3.170000e+02,8.680000e+02
yearbuilt,52326.0,1.963394e+03,2.313335e+01,1.878000e+03,1.950000e+03,1.961000e+03,1.979000e+03,2.016000e+03
numberofstories,14561.0,1.413914e+00,5.406765e-01,1.000000e+00,1.000000e+00,1.000000e+00,2.000000e+00,6.000000e+00
fireplaceflag,81.0,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
structuretaxvaluedollarcnt,52358.0,1.965315e+05,2.543382e+05,1.290000e+02,7.707175e+04,1.318070e+05,2.263198e+05,9.164901e+06
taxvaluedollarcnt,52441.0,5.296830e+05,7.518883e+05,1.000000e+03,1.937500e+05,3.736120e+05,6.193010e+05,4.906124e+07
assessmentyear,52442.0,2.016000e+03,0.000000e+00,2.016000e+03,2.016000e+03,2.016000e+03,2.016000e+03,2.016000e+03
landtaxvaluedollarcnt,52441.0,3.334626e+05,5.705227e+05,1.610000e+02,7.602600e+04,2.180250e+05,4.086000e+05,4.895220e+07
taxamount,52438.0,6.453452e+03,8.755495e+03,4.918000e+01,2.656250e+03,4.647730e+03,7.377445e+03,5.866393e+05
taxdelinquencyyear,2079.0,1.410245e+01,2.394972e+00,4.000000e+00,1.400000e+01,1.500000e+01,1.500000e+01,9.900000e+01
censustractandblock,52319.0,6.050240e+13,1.859019e+12,6.037101e+13,6.037401e+13,6.037620e+13,6.059042e+13,4.830301e+14

In [6]:
#Nulls?
df.isnull().any()

parcelid                        False
id                              False
logerror                        False
transactiondate                 False
id.1                            False
airconditioningtypeid            True
architecturalstyletypeid         True
basementsqft                     True
bathroomcnt                     False
bedroomcnt                      False
buildingclasstypeid              True
buildingqualitytypeid            True
calculatedbathnbr                True
decktypeid                       True
finishedfloor1squarefeet         True
calculatedfinishedsquarefeet     True
finishedsquarefeet12             True
finishedsquarefeet13             True
finishedsquarefeet15             True
finishedsquarefeet50             True
finishedsquarefeet6              True
fips                            False
fireplacecnt                     True
fullbathcnt                      True
garagecarcnt                     True
garagetotalsqft                  True
hashottuborspa                   True
heatingorsystemtypeid            True
latitude                        False
longitude                       False
lotsizesquarefeet                True
poolcnt                          True
poolsizesum                      True
pooltypeid10                     True
pooltypeid2                      True
pooltypeid7                      True
propertycountylandusecode       False
propertylandusetypeid           False
propertyzoningdesc               True
rawcensustractandblock          False
regionidcity                     True
regionidcounty                  False
regionidneighborhood             True
regionidzip                      True
roomcnt                         False
storytypeid                      True
threequarterbathnbr              True
typeconstructiontypeid           True
unitcnt                          True
yardbuildingsqft17               True
yardbuildingsqft26               True
yearbuilt                        True
numberofstories                  True
fireplaceflag                    True
structuretaxvaluedollarcnt       True
taxvaluedollarcnt                True
assessmentyear                  False
landtaxvaluedollarcnt            True
taxamount                        True
taxdelinquencyflag               True
taxdelinquencyyear               True
censustractandblock              True
dtype: bool

In [7]:
#how many nulls and where?
df.isnull().sum()

parcelid                            0
id                                  0
logerror                            0
transactiondate                     0
id.1                                0
airconditioningtypeid           38804
architecturalstyletypeid        52372
basementsqft                    52395
bathroomcnt                         0
bedroomcnt                          0
buildingclasstypeid             52442
buildingqualitytypeid           18701
calculatedbathnbr                 137
decktypeid                      52053
finishedfloor1squarefeet        48061
calculatedfinishedsquarefeet       82
finishedsquarefeet12              247
finishedsquarefeet13            52442
finishedsquarefeet15            52442
finishedsquarefeet50            48061
finishedsquarefeet6             52277
fips                                0
fireplacecnt                    45199
fullbathcnt                       137
garagecarcnt                    34427
garagetotalsqft                 34427
hashottuborspa                  50927
heatingorsystemtypeid           18506
latitude                            0
longitude                           0
lotsizesquarefeet                 369
poolcnt                         41346
poolsizesum                     51575
pooltypeid10                    51998
pooltypeid2                     51371
pooltypeid7                     42433
propertycountylandusecode           0
propertylandusetypeid               0
propertyzoningdesc              18593
rawcensustractandblock              0
regionidcity                     1037
regionidcounty                      0
regionidneighborhood            33409
regionidzip                        26
roomcnt                             0
storytypeid                     52395
threequarterbathnbr             45718
typeconstructiontypeid          52366
unitcnt                         18594
yardbuildingsqft17              50505
yardbuildingsqft26              52379
yearbuilt                         116
numberofstories                 37881
fireplaceflag                   52361
structuretaxvaluedollarcnt         84
taxvaluedollarcnt                   1
assessmentyear                      0
landtaxvaluedollarcnt               1
taxamount                           4
taxdelinquencyflag              50363
taxdelinquencyyear              50363
censustractandblock               123
dtype: int64

In [8]:
#quick reminder on total number observations
mf.add_commas(len(df))

'52,442'

In [9]:
#what percentage of airconditioningtypeid is null? 
#74 percent
df.airconditioningtypeid.isnull().sum() / len(df)

0.7399412684489531

In [10]:
#let's drop add this to list of columns to drop-- and everything else with over 70% null values
null_and_void = []

In [11]:
#index all of my columns into a list
df_columns = df.columns.to_list()

In [12]:
#here's the list
df_columns

['parcelid',
 'id',
 'logerror',
 'transactiondate',
 'id.1',
 'airconditioningtypeid',
 'architecturalstyletypeid',
 'basementsqft',
 'bathroomcnt',
 'bedroomcnt',
 'buildingclasstypeid',
 'buildingqualitytypeid',
 'calculatedbathnbr',
 'decktypeid',
 'finishedfloor1squarefeet',
 'calculatedfinishedsquarefeet',
 'finishedsquarefeet12',
 'finishedsquarefeet13',
 'finishedsquarefeet15',
 'finishedsquarefeet50',
 'finishedsquarefeet6',
 'fips',
 'fireplacecnt',
 'fullbathcnt',
 'garagecarcnt',
 'garagetotalsqft',
 'hashottuborspa',
 'heatingorsystemtypeid',
 'latitude',
 'longitude',
 'lotsizesquarefeet',
 'poolcnt',
 'poolsizesum',
 'pooltypeid10',
 'pooltypeid2',
 'pooltypeid7',
 'propertycountylandusecode',
 'propertylandusetypeid',
 'propertyzoningdesc',
 'rawcensustractandblock',
 'regionidcity',
 'regionidcounty',
 'regionidneighborhood',
 'regionidzip',
 'roomcnt',
 'storytypeid',
 'threequarterbathnbr',
 'typeconstructiontypeid',
 'unitcnt',
 'yardbuildingsqft17',
 'yardbuildingsqft26',
 'yearbuilt',
 'numberofstories',
 'fireplaceflag',
 'structuretaxvaluedollarcnt',
 'taxvaluedollarcnt',
 'assessmentyear',
 'landtaxvaluedollarcnt',
 'taxamount',
 'taxdelinquencyflag',
 'taxdelinquencyyear',
 'censustractandblock']

In [13]:
#Maybe I don't want to have columns where over 70% of the dataframe is missing
for column in df_columns:
    if df[f'{column}'].isnull().sum() / len(df) >= .7:
        null_and_void.append(column)

In [14]:
#what's here?
null_and_void

['airconditioningtypeid',
 'architecturalstyletypeid',
 'basementsqft',
 'buildingclasstypeid',
 'decktypeid',
 'finishedfloor1squarefeet',
 'finishedsquarefeet13',
 'finishedsquarefeet15',
 'finishedsquarefeet50',
 'finishedsquarefeet6',
 'fireplacecnt',
 'hashottuborspa',
 'poolcnt',
 'poolsizesum',
 'pooltypeid10',
 'pooltypeid2',
 'pooltypeid7',
 'storytypeid',
 'threequarterbathnbr',
 'typeconstructiontypeid',
 'yardbuildingsqft17',
 'yardbuildingsqft26',
 'numberofstories',
 'fireplaceflag',
 'taxdelinquencyflag',
 'taxdelinquencyyear']

Maybe I don't want to have columns where over half of the dataframe is missing. Or, maybe I don't want rows where my data is missing. If I drop the columns, I will lose what are seemingly important columns, e.g., 'typeconstructiontypeid', 'poolcnt', or 'storytypeid.' If I drop the rows, I will have that many less observations to work with. I will try one approach and evaluate my model's performance. When I have time, I will come back and approach the other way or in some compromising manner.

In [15]:
#drop columns
df = df.drop(columns = null_and_void)

In [16]:
#quick look at what's left
df.columns

Index(['parcelid', 'id', 'logerror', 'transactiondate', 'id.1', 'bathroomcnt',
       'bedroomcnt', 'buildingqualitytypeid', 'calculatedbathnbr',
       'calculatedfinishedsquarefeet', 'finishedsquarefeet12', 'fips',
       'fullbathcnt', 'garagecarcnt', 'garagetotalsqft',
       'heatingorsystemtypeid', 'latitude', 'longitude', 'lotsizesquarefeet',
       'propertycountylandusecode', 'propertylandusetypeid',
       'propertyzoningdesc', 'rawcensustractandblock', 'regionidcity',
       'regionidcounty', 'regionidneighborhood', 'regionidzip', 'roomcnt',
       'unitcnt', 'yearbuilt', 'structuretaxvaluedollarcnt',
       'taxvaluedollarcnt', 'assessmentyear', 'landtaxvaluedollarcnt',
       'taxamount', 'censustractandblock'],
      dtype='object')

In [17]:
#another look at remaining nulls
df.isnull().sum()

parcelid                            0
id                                  0
logerror                            0
transactiondate                     0
id.1                                0
bathroomcnt                         0
bedroomcnt                          0
buildingqualitytypeid           18701
calculatedbathnbr                 137
calculatedfinishedsquarefeet       82
finishedsquarefeet12              247
fips                                0
fullbathcnt                       137
garagecarcnt                    34427
garagetotalsqft                 34427
heatingorsystemtypeid           18506
latitude                            0
longitude                           0
lotsizesquarefeet                 369
propertycountylandusecode           0
propertylandusetypeid               0
propertyzoningdesc              18593
rawcensustractandblock              0
regionidcity                     1037
regionidcounty                      0
regionidneighborhood            33409
regionidzip                        26
roomcnt                             0
unitcnt                         18594
yearbuilt                         116
structuretaxvaluedollarcnt         84
taxvaluedollarcnt                   1
assessmentyear                      0
landtaxvaluedollarcnt               1
taxamount                           4
censustractandblock               123
dtype: int64

In [21]:
#let's start here
df.columns[df.isnull().sum() > 100]

Index(['buildingqualitytypeid', 'calculatedbathnbr', 'finishedsquarefeet12',
       'fullbathcnt', 'garagecarcnt', 'garagetotalsqft',
       'heatingorsystemtypeid', 'lotsizesquarefeet', 'propertyzoningdesc',
       'regionidcity', 'regionidneighborhood', 'unitcnt', 'yearbuilt',
       'censustractandblock'],
      dtype='object')

In [25]:
#assign variable to focus data
lotta_nulls = df.columns[df.isnull().sum() > 100]

In [30]:
#a closer look
df[lotta_nulls].isnull().sum()

buildingqualitytypeid    18701
calculatedbathnbr          137
finishedsquarefeet12       247
fullbathcnt                137
garagecarcnt             34427
garagetotalsqft          34427
heatingorsystemtypeid    18506
lotsizesquarefeet          369
propertyzoningdesc       18593
regionidcity              1037
regionidneighborhood     33409
unitcnt                  18594
yearbuilt                  116
censustractandblock        123
dtype: int64

In [45]:
#under the glass
for column in lotta_nulls:
    print(f'{column}')
    print('---')
    print('Number of unique values')
    print('-----------------------')
    print(df[f'{column}'].nunique())
    print('---')
    print('Value Counts')
    print('------------')
    print(df[f'{column}'].value_counts(dropna = False).sort_index())
    print('=============')

buildingqualitytypeid
---
Number of unique values
-----------------------
12
---
Value Counts
------------
1.0         8
2.0         5
3.0       152
4.0      8157
5.0      1513
6.0     10289
7.0      3427
8.0      8244
9.0      1121
10.0      230
11.0      514
12.0       81
NaN     18701
Name: buildingqualitytypeid, dtype: int64
=============
calculatedbathnbr
---
Number of unique values
-----------------------
21
---
Value Counts
------------
1.0      9568
1.5       834
2.0     21894
2.5      3926
3.0     10673
3.5       918
4.0      2227
4.5       687
5.0       803
5.5       223
6.0       322
6.5        47
7.0        88
7.5        16
8.0        53
8.5         3
9.0        13
10.0        5
11.0        3
13.0        1
18.0        1
NaN       137
Name: calculatedbathnbr, dtype: int64
=============
finishedsquarefeet12
---
Number of unique values
-----------------------
4716
---
Value Counts
------------
128.0        1
152.0        1
240.0        1
280.0        1
288.0        1
          ...
17245.0      1
18654.0      1
20612.0      1
21929.0      1
NaN        247
Name: finishedsquarefeet12, Length: 4717, dtype: int64
=============
fullbathcnt
---
Number of unique values
-----------------------
13
---
Value Counts
------------
1.0     10402
2.0     25832
3.0     11600
4.0      2915
5.0      1022
6.0       359
7.0        96
8.0        56
9.0        13
10.0        5
11.0        3
13.0        1
18.0        1
NaN       137
Name: fullbathcnt, dtype: int64
=============
garagecarcnt
---
Number of unique values
-----------------------
14
---
Value Counts
------------
0.0        65
1.0      2202
2.0     14802
3.0       621
4.0       254
5.0        45
6.0        13
7.0         3
8.0         2
9.0         2
10.0        3
11.0        1
13.0        1
14.0        1
NaN     34427
Name: garagecarcnt, dtype: int64
=============
garagetotalsqft
---
Number of unique values
-----------------------
839
---
Value Counts
------------
0.0         195
136.0         1
144.0         1
150.0         2
152.0         2
          ...
3115.0        1
3233.0        1
3791.0        1
4251.0        1
NaN       34427
Name: garagetotalsqft, Length: 840, dtype: int64
=============
heatingorsystemtypeid
---
Number of unique values
-----------------------
9
---
Value Counts
------------
1.0         7
2.0     20736
6.0       517
7.0     12566
10.0        2
13.0       16
18.0        6
20.0       85
24.0        1
NaN     18506
Name: heatingorsystemtypeid, dtype: int64
=============
lotsizesquarefeet
---
Number of unique values
-----------------------
14292
---
Value Counts
------------
236.0          1
480.0          1
540.0          8
592.0          1
594.0          1
            ...
1774617.0      1
2562259.0      1
2831752.0      1
6971010.0      7
NaN          369
Name: lotsizesquarefeet, Length: 14293, dtype: int64
=============
propertyzoningdesc
---
Number of unique values
-----------------------
1286
---
Value Counts
------------
AH RS-(3)-        1
AHA11*            2
AHR110000*        7
AHR115000*        1
AHR17000*        31
              ...
WHR4UD*           2
WHRE*             7
WHRE20000*       20
WNR110000*        1
NaN           18593
Name: propertyzoningdesc, Length: 1287, dtype: int64
=============
regionidcity
---
Number of unique values
-----------------------
175
---
Value Counts
------------
3491.0         6
4406.0       385
5465.0       213
5534.0      1795
6021.0       149
            ...
396054.0     416
396550.0      64
396551.0     116
396556.0      95
NaN         1037
Name: regionidcity, Length: 176, dtype: int64
=============
regionidneighborhood
---
Number of unique values
-----------------------
437
---
Value Counts
------------
6952.0        236
7877.0        177
11950.0        14
13017.0       184
13176.0        69
            ...
764149.0        1
764164.0        7
764166.0        2
764167.0        1
NaN         33409
Name: regionidneighborhood, Length: 438, dtype: int64
=============
unitcnt
---
Number of unique values
-----------------------
3
---
Value Counts
------------
1.0    33818
2.0       29
3.0        1
NaN    18594
Name: unitcnt, dtype: int64
=============
yearbuilt
---
Number of unique values
-----------------------
133
---
Value Counts
------------
1878.0      1
1880.0      1
1882.0      1
1885.0      5
1887.0      3
         ...
2013.0    153
2014.0    165
2015.0     80
2016.0      3
NaN       116
Name: yearbuilt, Length: 134, dtype: int64
=============
censustractandblock
---
Number of unique values
-----------------------
31404
---
Value Counts
------------
6.037101e+13      1
6.037101e+13      1
6.037101e+13      1
6.037101e+13      1
6.037101e+13      2
               ...
6.111009e+13      1
6.111009e+13      1
6.111009e+13      1
4.830301e+14      1
NaN             123
Name: censustractandblock, Length: 31405, dtype: int64
=============